#login-form{
	width: 200px; 
    padding: 10px;
    margin: auto; 
    background: #fc0; 
}
input[type=submit] {
	margin-left: 150px;;
}
#error{
	font-size: 14px;
	color: red; 
}
#list{
	width: 800px; 
	padding: 10px;
    margin: auto; 
    background: yellow; 
    border: thin;
    border-radius: 10px;
    border-color: white; 
}
#res{
	width: 300px; 
	padding: 10px;
    margin: auto; 
    background: yellow; 
    border: thin;
    border-radius: 10px;
    border-color: white; 
}
#info{
	width: 800px;
	padding: 10px;
    margin: auto; 
}
#select{
	width: 400px; 
	padding: 10px;
    margin: auto; 
}
#wrapper{
	width: 300px;
	margin: 0 auto;
}
#pos{
	width: 200px;
	padding: 10px;
    margin-left: 920px; 
}
.wide {
  overflow: hidden;
}
#search-input {
  border: 1px solid #dadada;
  display: block;
  height: 52px;
  padding: 10px 30px;
  width: 100%;
}